h1 {
    margin-bottom: 20px !important
}

.menuImg {
    margin: 0 auto;
    width: 800px;
    height: 600px; 
}

.contactDiv {
    margin: 20px auto;
    width: 600px;
    height: 200px;
    border: 3px solid brown;
    text-align: center;
}